 /*  @author:chenzejiang(email:820289461@qq.com) */
 body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, hr, pre, form, fieldset, input, textarea, p, blockquoteth, td {
  margin:0px;
  padding:0px;
 }
 h1, h2, h3, h4, h5, h6 {
  font-size:12px;
  font-weight:normal;
 }
 ul , ol {
  list-style:none;
 }
 table {
  border-collapse:collapse;
  border-spacing:0;
 }
 object,input,textarea{outline: none;}

 fieldset, img {
  border:0;
 }
 address, caption, cite, code, dfn, em, strong, th, var {
  font-style:normal;
  font-weight:normal;
 }
 i{font-style: normal; }
 ol, ul {
  list-style:none;
 }
 capation, th {
  text-align:left;
 }
 h1, h2, h3, h4, h5, h6 {
  font-size:100%;
  font-weight:normal;
 }
 q:before, q:after {
  content:''
 }
 abbr, acronym {
  border:0;
 }

 /* 以下样式根据不同的网站可能需要改写 */
 body {
  font-family:微软雅黑,"Microsoft YaHei";
  font-size:12px;
  line-height:150%;
  min-width: 960px;
 }
 *{box-sizing: border-box; }
 textarea{font-family:Courier New,sans-serif;font-size:13px;}
 i{font-style: normal;}
 a {
  text-decoration:none;
  color:#000;
 }
 a:visited {color:#000;}
 a:hover {
  /*text-decoration: underline;*/
  /*text-decoration:none;*/
  color:#000;
 }
 .f1{font-size:1px;}
 .fb{font-weight:bold;}
 .fn{font-weight:normal;}
 .ws{white-space:nowrap;}
 .lh1{line-height:1%}
 .lh150{line-height:150%}
 .lh180{line-height:180%}
 .lh200{line-height:200%}
 /*定位*/
 .tl{text-align:left;}
 .tc{text-align:center;}
 .tr{text-align:right;}
 .bc{margin-left:auto;margin-right:auto;}
 .fl{float:left;}
 .fr{float:right;}
 .cb{clear:both;}
 .cl{clear:left;}
 .cr{clear:right;}

 /*如果一个块级对象内部包含浮动对象，应该给该块级对象使用clearfix*/
 .clearfix:after{content:'';display:block;height:0;clear:both;visibility:hidden}
 .clearfix{display:inline-block;}
 *html .clearfix{height:1%}
 .clearfix{display:block;}
 .va-c{vertical-align:center;}
 .pr{position:relative;}
 .pa{position:absolute;}
 .abs-right{position:absolute;right:0;}
 .zoom{zoom:1}
 .hidden{visibility:hidden;}
 .none{display:none;}
  .db{display:block;}
 /*长度高度*/
 .w10{width:10px;}
 .w{width:100%}
 .h{height:100%}
 .h10{height:10px;overflow: hidden;}
 .h_auto{height:auto;}
 .w_auto{width:auto;}














































































































